
                <div class="feature_header text-left" >
                    <div class="media">
                        <div class="media-left media-top">
                            <a href="#">
                                <img class="media-object" ng-src="{{job.logo}}" alt="job.company" height="100px" width="200px">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{job.company}}</h2>
                            <p><strong>Job Role : </strong>{{job.role}}</p>
                            <p><strong>Salary : </strong>{{job.salary}}</p>
                            <p><strong>About the company : </strong>{{job.description}}</p>
                            <a href="#">See more</a>
                            <button type="button" class="btn btn-primary" data-target=".bs-example-modal-lg"  >Apply for this Job</button>
                        </div>
                    </div>
                </div>