<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_header text-center">
                    <h3 class="feature_title">{{title}}</h3>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
             <div class="contact_full">
		        <form  name="upload_form">
		                Single Image with validations
		            <input 
		                type="file" 
		                ngf-select 
		                ng-model="file" 
		                name="file" 
		                ngf-pattern="'image/*'"
		                accept="image/*" 
		                ngf-max-size="20MB" 
		                />
		            Image thumbnail: <img style="width:100px;" ng-show="file" ngf-thumbnail="file"/>
		            <i ng-show="upload_form.file.$error.required">*required</i><br>
		            <i ng-show="upload_form.file.$error.maxSize">File too large 
		            {{file.size / 1000000|number:1}}MB: max 20M</i>
		           <!--  Multiple files
		            <div class="button" ngf-select ng-model="files" ngf-multiple="true">Select</div>
		            Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div> -->
		            <button type="submit" ng-click="submit()">submit</button>
		            <p>{{progress}}</p>
		        </form>
</div>
</div>
</section>