<div class="thumbnail">
    <img src="{{productinfo.image}}" alt="">
    <div class="caption">
        
        <h4><a href="#/product/{{productinfo.id}}">{{productinfo.name}}</a>
        </h4>
        <h4 class="pull-left">{{productinfo.price}} / {{cat}}</h4>
        
    </div>
    <div class="ratings">
        <p class="pull-right">15 reviews</p>
        <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        </p>
    </div>
    <div class="action">
        <button type="button" class="btn btn-primary add-to-cart">Add to Cart</button>
        <button type="button" class="btn btn-default add-to-wishlist" data-ng-click="addToWishList({id:productinfo.id})">Add to wishlist</button>
    </div>
</div>